services:
  mongodb:
    image: mongo:8
    container_name: mongodb
    ports:
      - "27087:27017"
    volumes:
      - ./mongodb:/data/db
    networks:
      - backend

    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}

    restart: always

networks:
  backend:
